<html xmlns:th="http://www.thymeleaf.org">
<body>
        <form action="#" th:action="@{/airport/updateAirport/__${id}__}"
                th:object="${airport}" method="post">
                
                <table>
                        <tr> 
                                <td>Please insert title </td>
                                <td> <input type="text" th:field="*{title}" th:value="${title}"> </td>
                                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </td>
                        </tr>
                        
                        <tr> 
                                <td>Please insert city </td>
                                <td> <input type="text" th:field="*{location.city}" > </td>
                                <td th:if="${#fields.hasErrors('location.city')}" th:errors="*{location.city}"> </td>
                        </tr>
                        
                 
                
                     
                
                
                
                </table>
                
                <input type="submit">
        </form>
</body>
</html>